body {
    max-width:900px;
    margin:auto;
    padding-top:70px;
    font-family:Arial,sans-serif;
    background:#def1e6;
}


nav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#a891dc;
}

h1 {
    text-align:center;
    color:#333;
}

h2 {
    border-left:5px solid #3498db;
    padding-left:10px;
}

h3 {
    border-left:5px solid #6f7172;
    padding-left:10px;
}

p {
    line-height:1.8;
    font-size:18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
	}